body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 90px;
    padding: 5px;
    background: linear-gradient(rgb(238, 48, 0), rgb(255, 115, 0), rgb(255, 174, 0));
}

.header h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 221, 194);
    text-align: center;
}

.left_content_area {
    margin-left: 60px;
    padding: 40px 120px;
    width: 34%;
}

.search_bar {
    padding: 10px;
}

.search_bar input {
    /* background-image: url('images/search.png'); */
    border: none;
    background-color: rgb(255, 222, 194);
    width: 250px;
    padding: 7px;
    font-size: 16px;
    border: 1px solid orange;
}

.search_bar button {
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    padding: 7px;
    border: none;
    color: white;
    background-color: rgb(255, 102, 0);
    border: 1px solid orange;
}

.search_result{
    height: 325px;
    width: 430px;
    overflow: auto;
}

#search_table {
    padding: 10px;
    width: 420px;
    font-size: 18px;
    font-weight: bold;
   
}

#search_table th {
    color: red;
    text-align: left;
}

.quantity {
    width: 50px;
    font-size: 18px;
    background-color: rgb(255, 222, 194);
    border: 1px solid orange;
}

#add_reset_buttons {
    padding: 10px;
}

#reset_button {
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    padding: 7px;
    border: none;
    color: white;
    background-color: rgb(255, 102, 0);
    border: 1px solid orange;
}

#add_button {
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    padding: 7px;
    border: none;
    color: white;
    background-color: rgb(0, 151, 38);
    border: 1px solid green;
}

#checkout_button {
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    padding: 7px;
    border: none;
    color: white;
    background-color: rgb(0, 151, 38);
    border: 1px solid green;
    margin: 20px 30px;
}

.right_content_area {
    padding: 20px 120px;
    width: 34%;
    right: 0%;
    top: 100px;
    position: absolute;
}

.right_content_area h1 {
    margin-left: 30px;
    color: rgb(124, 78, 19);
    font-family: 'Merienda', cursive;
}

#cart_table {
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    width: 225px;
}

#cart_table th {
    color: red;
    text-align: left;
}

#checkout_table {
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    width: 325px;
}

#checkout_table th {
    color: red;
    text-align: left;
}

#total{
    padding: 30px;
    font-weight: bold;
}
#footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 90px;
    padding: 5px;
    background: linear-gradient(rgb(255, 174, 0), rgb(255, 115, 0), rgb(255, 48, 0));
}

footer img {
    margin: 10px 40px;
    width: 70px;
    height: 70px;
    opacity: 0.8;
}

#footer_logo {
    margin-left: 15px;
    width: 150px;
}

#footer_links {
    padding: 3px;
    width: 35%;
    right: 0px;
    top: 5px;
    position: absolute;
}

#footer_links a {
    font-size: 18px;
    padding: 5px 20px;
    color: rgb(255, 238, 224);
    text-decoration: none;
}

.social_media_icons {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 20%;
    color: rgb(255, 203, 161);
}

.social_media_icons a {
    padding: 5px 5px;
    color: rgb(255, 198, 152);
    text-decoration: none;
}